<title>My application</title>
<h1>Hello, World!</h1>
{{result}}
<b>Please seperate numbers with NewLine character. Each line must have only 1 number without space.</b>

<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>
